body{
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}


#container{
    width: 1100px;
    margin: 0px auto;
    border: 1px solid black;
}


header{
    background: rgb(79, 160, 14);
    height: 100px;
    width: 100%;
    margin: 0px;
    color: white;
    text-align: center;
    line-height: 100px;
    border-bottom: 3px black;
}


*{
    margin: 0px;
    padding: 0px;
}


nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}


.clearfix{
    clear: both;
}


nav{
    background: rgb(171, 170, 172);
    height: 50px;
    border-bottom: 1px solid black;
}


#content{
    float: left;
    width: 100%;
    background: lightgray;
    min-height: 500px;
    padding: 40px;
}


aside{
    float: right;
    width: 25%;
    background: rgb(79, 160, 14);
    min-height: 200px;
    padding: 20px;
}


footer{
    background: rgb(79, 160, 14);
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}


.article{
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;

}


.article h2{
    font-size: 25px;
}
